<launch>
    <remap from="/camera/compressed" to="/camera_image/image_raw/compressed"/>
    <remap from="/camera_info" to="/camera_image/camera_info"/>
    <node pkg="aruco_detect" name="aruco_detect" type="aruco_detect" output="screen" respawn="false">
        <param name="dictionary" value="16"/>   
        <param name="image_transport" value="compressed"/>
        <param name="publish_images" value="true" />
        <param name="fiducial_len" value="0.05"/>
        <param name="fiducial_len_override" value="1-9: 0.05, 10: 0.04, 11-12: 0.05, 13: 0.04, 14: 0.05"/>
        <param name="do_pose_estimation" value="True"/>
        <param name="vis_msgs" value="False"/>
        <param name="verbose" value="False"/>
    </node>
</launch>
